body, html, .App, #root {
  height: 100%;
}

.App {
  display: flex;
  flex-direction: column;
}

.riga {
  flex: 0.15;
  border: 1px solid #000;
  text-align: center;
  align-items: center;
  display: flex;
  justify-content: center;
}

.yellow {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: yellow;
  height: 100px;
  width: 32.5%;
  border: 1px solid black;
}

.flexbox {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}